<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="allexp.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</head>
<body>
    <header>
        <h1>Add Expences</h1>
    </header><br>
    <div class="container">
        <form id="myform">
            <label>Choose Expenses :</label>
            <input type="number" name="exp" id="exp" placeholder="Expenses">

            <label>Choose Discription :</label>
            <select id="dis">
                <option> Sads </option>
                <option> Petrol </option>
                <option> Unfunction </option>
                <option> Diesel </option>
                <option> Hello </option>
                <option> 123 </option>
            </select>

            <label>Choose category :</label>
            <select id="cat">
                <option> Food </option>
                <option> Fuel </option>
                <option> Electricity </option>
                <option> Movies </option>
            </select>

            <button id="btn" type="submit" class="btn1">ADD</button>
        </form>
        
        <ul id="ullist"></ul>
    </div>

    
    <script src="allexp.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"></script>
</body>
</html>